@import "tailwindcss";

@theme {
  /*Colors*/
  --color-text-primary: #1C2121;
  --color-background: #F2F2F6;
  --color-nav-surface: #F9F9F9;
  --color-border: #DADADA;
  --color-surface: #FFF;

  /*Typography*/

  --font-base: 'Inter', sans-serif;

  --text-xs:  0.5625rem;
  --text-sm:  0.8125rem;
  --text-base:  0.9375rem;
  --text-md:  1.0625rem;
  --text-lg: 1.125rem;
  --text-xl: 1.625rem;
  --text-2xl: 2rem;

  --leading-base: 1rem;

  /*Radius*/

  --rounded-md: 0.625rem;
}